<html>
    <head>

    </head>
    <body class="bg">
        <header>
            <div class="row">
                <div class="col-sm-6">
                    <h1>BUYER</h1>
                    </div>
                    </div>
            <nav class="navbar navbar-expand-lg navbar-light  bg-light">

                <div class="col" id="navbarText">
                    <ul class="nav row nav-pills ">
    
                        <li class="col-sm-2 nav-item text-center">
                            <a class="nav-link btn-primary" [routerLink]="['/buyer-landing-page/buy-product']">Payment</a>
                        </li>
                        <li class="col-sm-2 nav-item text-center">
                            <a class="nav-link btn-primary" [routerLink]="['/buyer-landing-page/searchitems']">Buyproduct</a>
                        </li>
                        <li class="col-sm-2 nav-item text-center">
                            <a class="nav-link btn-primary"[routerLink]="['/buyer-landing-page/view-cart']"  >View Cart</a>
                        </li>
                        <li class="col-sm-2 nav-item text-center">
                            <a class="nav-link btn-primary" [routerLink]="['/buyer-landing-page/purchase-history']" >History</a>
                        </li>
                        <li class="col-sm-2 nav-item text-center">
                            <a class="nav-link btn-primary" [routerLink]="['/buyer-landing-page/edit-profile']" >View Profile</a>
                        </li>
                        <li class="col-sm-2 nav-item text-center">
                            <a class="nav-link btn-primary" [routerLink]="['/buyer-landing-page']" (click)="LogOut()" >Logout</a>
                        </li>
                        
                    </ul>
                   
                    <!-- <span class="navbar-text">
                      Navbar text with an inline element
                    </span> -->
                </div>
              
            </nav>
        </header>
        
  
        <!-- <div class="search-container mt-10">
           
              <input type="text" placeholder="Search.." name="search"[(ngModel)]="itemName">
              <button type="submit"(click)="search(itemName)"><i class="fa fa-search"></i></button>
            
          
        </div>
        
        
         
          <div class="row">
        
          
             <h1 class="display-1">Ocean of Items</h1> 
              
               cards -->
              <!-- <div class="card col-sm-2"*ngFor="let i of itemlist" >
                <img src="/assets/images/{{i.image}}" alt="Denim Jeans" style="width:100%">
                <h1>{{i.itemName}} </h1>
                <p class="price">{{i.price}}</p>
                <p>{{i.itemDescription}}</p> -->
                 <!-- <p><button >Buy Now</button></p> 
                <p><button (click)="AddtoCart(i)">Add to Cart</button></p> -->
              <!-- </div>
              
              
               
            
            <br/>
            <br/>
                
               
                 
              </div>
   --> 

    </body>
</html>
  <router-outlet></router-outlet>