<div class="bg">
    <div class="container contact">
        <div class="row">
            <div class="col-md-4">
                <div class="contact-info">
                    <h2>Add SubCategory</h2>
                
                </div>
            </div>
            <div class="col-md-6">
                <div class="contact-form">
                    <form [formGroup]="AddsubcategoryForm" (ngSubmit)="onSubmit()">
                        <!-- <div class=form group>
                            <label class="control-label col-sm-2">sub category ID:</label>
                            <input type="text" formControlName="SubCategoryId" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.SubCategoryId.errors }" />
                            <div *ngIf="submitted && f.SubCategoryId.errors" class="invalid-feedback">
                                <div *ngIf="f.SubCategoryId.errors.required">ID is required</div>
                                <div *ngIf="f.SubCategoryId.errors.pattern">Enter ID</div>
                            </div>                        
                        </div> -->

                        <div class=form group>
                            <label class="control-label col-sm-2">SubCategoryName:</label>
                            <input type="text" formControlName="SubCategoryName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.SubCategoryName.errors }" /> 
                            <div *ngIf="submitted && f.SubCategoryName.errors" class="invalid-feedback">
                                <div *ngIf="f.SubCategoryName.errors.required">Category is required</div>
                                <!-- <div *ngIf="f.cid.pattern">Enter Category</div> -->
                            </div> 

                        </div>
                        <div class=form group>
                            <label class="control-label col-sm-2"> CategoryId:</label>
                            <select formControlName="CategoryId" class="form-control">
                                <option *ngFor="let item of categorylist" value="{{item.categoryId}}">{{item.categoryName}}</option>
                            </select>
                            <!-- <input type="text" formControlName="CategoryId" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.CategoryId.errors }" /> -->
                            <div *ngIf="submitted && f.CategoryId.errors" class="invalid-feedback">
                                <div *ngIf="f.CategoryId.errors.required">Category is required</div>
                                <!-- <div *ngIf="f.cid.pattern">Enter Category</div> -->
                            </div> 

                        </div>
                        <div class=form group>
                            <label class="control-label col-sm-2">BriefDetails:</label>
                            <input type="text" formControlName="BriefDetails" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.BriefDetails.errors }" />
                            <div *ngIf="submitted && f.BriefDetails.errors" class="invalid-feedback">
                                <div *ngIf="f.BriefDetails.errors.required">Sub Category is required</div>
                                <!-- <div *ngIf="f.scid.pattern">Enter Sub Category</div> -->
                            </div> 

                        </div>
                        <div class=form group>
                            <label class="control-label col-sm-2">Gst:</label>
                            <input type="text" formControlName="Gst" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Gst.errors }" />
                            <div *ngIf="submitted && f.Gst.errors" class="invalid-feedback">
                                <div *ngIf="f.Gst.errors.required">Category is required</div>
                                <!-- <div *ngIf="f.cid.pattern">Enter Category</div> -->
                            </div> 

                        </div>
                        
                        <div class="form-group">        
                            <div class="col-sm-offset-2 col-sm-10">
                              <button type="submit" class="btn btn-default">Add</button>
                            </div>
                          </div>
                        
                   
                     </form>
                </div>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>

