<div class="bg">
<div class="container">
    <div class="offset-5">
        <h5 class >Edit Profile</h5>
        <div class="card-body">
            <form [formGroup]="EditForm" (ngSubmit)="onSubmit()">
                <div class="form-row">
                    <div class="form-group col-10">
                        <label>Id:</label>
                        <input type="text" formControlName="id" class="form-control" />
                        
                    </div>
                </div>
                
                   <div class="form-row">
                    <div class="form-group col-10">
                        <label>UserName</label>
                        <input type="text" formControlName="username" class="form-control" />
                        
                    </div>
                </div>
                
                <div class="form-row">
                <div class="form-group col-10">
                    <label>Mobile</label>
                    <input type="text" formControlName="mobileNumber" class="form-control"   />
                    
                </div>
                </div>
                
                <div class="form-row">
                <div class="form-group col-10">
                    <label>EmailId</label>
                    <input type="text" formControlName="emailid" class="form-control"  />
                    
                </div>
                </div>
            
                <div class="form-row">
                    <div class="form-group col-5">
                
                <div class="text-center">
                  <!-- //  <button (click)="onSubmit()"class="btn btn-primary mr-1">Submit</button> -->
                    <button type="submit" class="btn btn-secondary" >Update</button>
                   </div>
                   </div>
                </div>
        
            </form>
        </div>
    </div>
    </div>
    </div>
    <router-outlet></router-outlet>