
<html>
    <head>

    </head>
    <body class="bg">
        <header>
            <div class="row">
                <div class="col-sm-5">
                    <h1>ADMIN</h1>
                    </div>
                    </div>
            <nav class="navbar navbar-expand-lg navbar-light  bg-light">

                <div class="col" id="navbarText">
                    <ul class="nav row nav-pills ">
    
                        <!-- <li class="col-sm-2.5 nav-item text-center">
                            <a class="nav-link btn-primary" [routerLink]="['/admin-landing-page/block-r-unblock-buyer']">BlockrUnBlock Buyer </a>
                        </li>
                        <li class="col-sm-2nav-item text-center">
                            <a class="nav-link btn-primary"[routerLink]="['/admin-landing-page/block-r-unblock-seller']" >BlockrUnBlock Seller</a>
                        </li>
                        <li class="col-sm-2 nav-item text-center">
                            <a class="nav-link btn-primary"[routerLink]="['/admin-landing-page/daily-reports']"  >DailyReports</a>
                        </li> -->
                        <li class="col-sm-4 nav-item text-center">
                            <a class="nav-link btn-primary"[routerLink]="['/admin-landing-page/add-category']"  >Add Category</a>
                        </li>
                        <li class="col-sm-4 nav-item text-center">
                            <a class="nav-link btn-primary"[routerLink]="['/admin-landing-page/add-subcategory']"  >Add Sub Category</a>
                        </li>
                        <li class="col-sm-4 nav-item text-center">
                            <a class="nav-link btn-primary"[routerLink]="['/admin-landing-page']" (click)="LogOut()" >Logout</a>
                        </li>
                        
    
                    </ul>
                    <!-- <span class="navbar-text">
                      Navbar text with an inline element
                    </span> -->
                </div>
    
            </nav>
        </header>
        
    </body>
</html>
  <router-outlet></router-outlet>